@import "tailwindcss";

@theme inline {
	--font-sans: var(--font-geist);

    --animate-fade-in: fade-in 1s ease-in-out;
  @keyframes fade-in {
    0% {
        opacity: 0;
      }
    
      100% {
        opacity: 1;
      }
  }
}