---
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
---

<InfoLayout>
     <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh flex flex-col justify-between gap-32">
          <div class="space-y-4 sm:space-y-12">
               <H1> 关于 </H1>

               <p class="text-xl xl:text-2xl text-zinc-500 text-balance">
                    
                    当前<br>核子时代<br>这里找不到更多资料了：（
               </p>
          </div>

          <div class="space-y-2 text-base sm:text-lg">
               <h2 class="px-4 text-zinc-400 underline underline-offset-4 decoration-zinc-500">            </h2>

               <ul class="px-4 text-zinc-400 list-disc list-outside">
                    
                    
               </ul>
          </div>
     </div>
</InfoLayout>
