---
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
---

<InfoLayout>
     <div class="pt-0 p-4 sm:p-8 min-h-screen flex flex-col justify-between">
          <div>
               <H1> Get to know Nikola </H1>

               <p class="mt-4 sm:mt-12 text-2xl sm:text-4xl text-zinc-400 text-balance">
                    <a href="https://en.wikipedia.org/wiki/Nikola_Tesla" target="_blank" class="underline underline-offset-4 decoration-zinc-400 hover:text-zinc-50 hover:decoration-zinc-200">
                         Nikola Tesla
                    </a>
                    (1856-1943) was a Serbian-American inventor, engineer, and futurist
                    best known for his pioneering work in electricity and electromagnetism.
                    His innovations laid the foundation for modern alternating current
                    (AC) power systems and many technologies still in use today.
               </p>
          </div>
     </div>
</InfoLayout>
