---
import WorkLayout from "../layouts/WorkLayout.astro";


---

<WorkLayout>
    <h1 class="text-4xl sm:text-8xl text-white tracking-tight leading-20 font-bold text-balance">
        Astro
     </h1>
</WorkLayout>