---
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
---

<InfoLayout>
     <div class="pt-0 p-4 sm:py-8 sm:px-12 min-h-screen">
          <H1> Blog </H1>
     </div>
</InfoLayout>