---
import H1 from "../../components/h1.astro";
import InfoLayout from "../../layouts/InfoLayout.astro";
---

<InfoLayout>
     <div class="pt-0 p-4 sm:pt-8 sm:px-12 pb-20 min-h-screen">
          <H1> Projects </H1>
     </div>
</InfoLayout>