---
import RootLayout from "./RootLayout.astro";

const { title, description } = Astro.props;
---

<RootLayout title={title} description={description}>
    <div class="p-8 flex min-h-screen gap-12 relative">
        <nav class="w-full max-w-sm bg-zinc-50 rounded-2xl">
        </nav>

        <main>
            <slot />
        </main>
    </div>
</RootLayout>
